.bg-color-1{
background-color: #98f98d;
}
.bg-color-2{
background-color: #ccf9d9;
}
.bg-color-3{
background-color: #e1d3d9;
}
.bg-color-4{
background-color: #fcfeed;
}

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.montserrat-font{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}

.noto-sans-font{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.arimo-font {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.card{
  margin:10px;
  width: auto;
  height: auto;
}
img{
  width: 250px;
  height: 225px;
  margin: 10px 10px 10px 30px;
  border: solid 5px black;
  border-radius: 50px
}

